html {
	background-color: #B2E5E3;
}




/****************************************
HEADER!!!
****************************************/

h1 {
	font-family: Oswald;
}



/****************************************
MAIN PINNED AND RECENT!!!
****************************************/

h2, li {
	font-family: Lato;
	font-weight: 700;
}


p {
	font-family: Oswald;
	font-weight: 300;
}




/****************************************     
NAVIGATION SIDEBAR!!!     
****************************************/

#option {
	font-family: Lato;
	font-weight: 900;
}








