html {
	background-color: #B2E5E3;
}

body {
	padding-left: 2em;
	margin: 0;
}

#leftBody {
	float: left;
} 


/****************************************
HEADER!!!
****************************************/

h1 {
	font-family: Oswald;
	font-weight: 700;
	font-size: 48px;
	color: #4A4A4A;

	text-transform: uppercase;
}


p {
        font-family: Oswald;
        font-weight: 300;
	font-size: 17px;
	color: #4A4A4A;
}


#create {
	padding-top: 1.8em;
	padding-left: 1em;
}

div#heading {
	padding-left: 2.1em;
}

/****************************************
MAIN PINNED AND RECENT!!!
****************************************/

h3, h2, li, button {
	font-family: Lato;
	font-weight: 700;
	color: #4A4A4A;
}

h2, h3 {
	text-transform: uppercase;
	padding-left: 1.2em;
	font-size: 30px;
}

li {
	text-transform: lowercase;
	padding-bottom: .6em;
	font-size: 15px;
}

ul {
	list-style-type: none;
}


img {
	height: 12px;
}

.selection {
	padding-top: 1.5em;
    	padding-left: 2em;
}


.selection ul {
	padding-left: 6em;
}


.leftList {
	float: left;
}

.rightList {
	float : right; 
}


button {
	
	background-color: #B2E5E3; 
	border: none;
	font-size: 15px;
}


td#pinned {
	vertical-align: top;
}

/*
 button:active, button:focus 
 {
     border:0.1em solid #6200E9;  here configure as your needs
  }

*/

ul#recent {

	padding-left: 2em;
}

h2 {
margin-bottom: -.9em;
}



td.recent {

	padding-right: 10em;

}

h3 {
	text-transform: lowercase;
}

td.nav {

	vertical-align: top;
}

/* Dropdown Button */
.dropbtn {
    color: #4A4A4A;
    text-transform: lowercase;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #4A4A4A;
    color: white;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	background-color: #4A4A4A;
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content button {
	background-color: #4A4A4A;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}



/* Change color of dropdown links on hover */
.dropdown-content button:hover {color:#B2E5E3;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

